<a href="https://colab.research.google.com/github/AswathyS9778/DSML/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a.DataTypes

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orange'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

b.Containers

In [ ]:
#list
k=['a','s','w','a','t','h','y']
print(k[0])
print(k[1])
print(k[2])
print(k[3])
print(k[0:2])
print(k[ : ])
print(k[-2])

a
s
w
a
['a', 's']
['a', 's', 'w', 'a', 't', 'h', 'y']
h

In [4]:
#dictionary
d={1:'aswathy',2:'anjali',3:'sree'}
print(d)
print("1st name is"+d[1])
print("2nd name is"+d[2])
print(d.keys())
print(d.values())

{1: 'aswathy', 2: 'anjali', 3: 'sree'}
1st name isaswathy
2nd name isanjali
dict_keys([1, 2, 3])
dict_values(['aswathy', 'anjali', 'sree'])

In [13]:
#sets
k={1,2,3}
print(k)
m={1.0,"hello",(1,2,3)}
print(m)
n=set([1,2,3,2])
print(n)
o=set(["helloworld"])
print(o)

{1, 2, 3}
{1.0, (1, 2, 3), 'hello'}
{1, 2, 3}
{'helloworld'}

C.Function and return statement

In [10]:
def add(a,b):
  return a+b
res=add(2,3)
print("result",res)

result 5

In [16]:
def recfact(n):
   if n == 1:
       return n
   else:
       return n*recfact(n-1)
num = 7
if num < 0:
   print("factorial not possible")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recfact(num))

The factorial of 7 is 5040